.mainDiv {
  background: gold;
  height: 15vh;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 10px;
}

.button {
  padding: 10px 20px;
  margin-right: 8px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.week {
  background-color: green;
}
.delete {
  background-color: red;
}

.name {
  font-size: 2rem;
  font-weight: 10;
}
.days {
  font-size: 1.25rem;
  font-weight: 10;
}
