.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Increased padding for more height */
  width: 400px; /* Adjust the width to your preference */
  max-width: 80%; /* Optionally set a maximum width */
  max-height: 70vh; /* Adjusted maximum height */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px; /* Increased spacing between header and form */
  margin-bottom: 20px; /* Increased spacing between header and form */
}

.close-button {
  cursor: pointer;
  font-size: 18px;
  color: red;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px; /* Added margin at the bottom of the form */
}

label {
  margin-bottom: 10px; /* Increased spacing between label and input */
}

input {
  padding: 10px; /* Adjusted padding for input */
  margin-bottom: 15px; /* Increased spacing between inputs */
}

.submit-button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px; /* Adjusted padding for button */
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
}
